<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/stylesheets/block_requests.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Admin: Block request</title>
    </head>
    <body>
        <nav>
            <a href="/admin_index">Home</a>
            <a href="/all_users">All users</a>
            <a href="/block_requests">Block Requests</a>
            <a href="/logout">Logout</a>
        </nav>
        <main class="main">
            <h1 id="pagetitle">User block requests</h2>
                <%
                if (blocker == "none" && blockee == "none")
                {
                %>
                    <h2>There are no block requests ...</h2>
                <%
                }
                else
                {
                    var x = 0;
                    while (blocker[x])
                    {
                        let block_reason = blocker[x].reason;
                        let blocker_username = blocker[x].username;
                        let blocker_firstname = blocker[x].Firstname;
                        let blocker_lastname = blocker[x].Lastname;
                        let blocker_profile_pic = blocker[x].profile_pic;
                        let blocker_age = blocker[x].Age;
                        let blocker_orientation = blocker[x].Orientation;
                        let blocker_bio = blocker[x].Bio
                        let blockee_username = blockee[x].username;
                        let blockee_firstname = blockee[x].Firstname;
                        let blockee_lastname = blockee[x].Lastname;
                        let blockee_profile_pic = blockee[x].profile_pic;
                        let blockee_age = blockee[x].Age;
                        let blockee_orientation = blockee[x].Orientation;
                        let blockee_bio = blockee[x].Bio
                        %>
                        <div class="block_div">
                            <img src=<%=blocker_profile_pic%> alt="blocker profile picture">
                            <span class="_names"><%=blocker_firstname%> <%=blocker_lastname%></span>
                            <span class="_info">Wishes to block</span>
                            <img src=<%=blockee_profile_pic%> alt="blockee profile picture">
                            <span class="_names"><%=blockee_firstname%> <%=blockee_lastname%></span>
                            <span class="_info">Reason for blocking</span>       
                            <p id="_reason"><%=block_reason%></p>
                            <form action="/accept_block" method="POST">
                                <input type="hidden" name="blocker_username" value=<%=`${blocker_username}`%>>
                                <input type="hidden" name="blockee_username" value=<%=blockee_username%>>
                                <button type="submit" style="color: green;">Accept Block request</button>
                            </form>
                            <form action="/decline_block" method="POST">
                                <input type="hidden" name="blocker_username" value=<%=blocker_username%>>
                                <input type="hidden" name="blockee_username" value=<%=blockee_username%>>
                                <button type="submit" style="color: red;">Refuse Block request</button>
                            </form>
                        </div>
                        <%
                        x++;
                    }
                }
            %>
            </main>
            <footer>
                <a href="#"> welcome to admin</a>
            </footer>
    </body>
</html>
