<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chats</title>
  
  <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/chats.css">
</head>
<body onload="login()">
  <input type="hidden" value=<%=session.user %> id='me'>
  
  <div id="notification-links">
    <a id="notification-link" href="javascript:void(0)" onclick="displayNotifications()">new notifications</a>
    <a id="message-link" href="javascript:void(0)" onclick="displayMessages()">peep messages</a>
    <a href="/my_notifications">notifications</a>
  </div>
  <div id="notification-bar"></div>
  <div id="message-bar"></div>

  <nav>
    <div id="main_menu">
        <a href="/">home</a>
        <a href="/chats">chats</a>
        <a href="/connection_requests">requests</a>
        <a href="/search_match">search</a>
        <a href="javascript:void(0);" onclick="userSubMenu()">
            <img id="profile_pic" src=<%=session.profile_pic %>>
        </a>
    </div>

    <div id="user_sub_menu">
        <a href="javascript:void(0);" onclick="userSubMenu()">
            <img id="profile_pic" src=<%=session.profile_pic %>>
        </a>
        <a href="/profile_views">view my profile visits</a>
        <a href="/My_pictures">my pics</a>
        <a href="/settings">settings</a>
        <a href="/logout">logout</a>
    </div>
  </nav>
  <main id="contacts">
      <h1>Connections</h1>
      <div class="connections">
        <%
          
          let result1 = result;

          if (result1 != 'found'){
        %>
            <div class="contact">You have no connections</div>
        <%}else{
        %>
        <%
          if (contact00  == 'found'){
          let i = 0;
          while (contact[i]){
            let username = contact[i].connected_to;
            %>
            <div class="contact">
              <img class="dp" src="/index_images/red watercolour background 1412.jpg" alt="big">
              <div class="contact-name"><%= username%></div>
              <form method="POST" action="/messages">
                <input type="text" name="username" value="<%= username%>" style="display: none;">
                <button class="view-chats">view chats</button>
              </form>
            </div>
        <% i++ }}
        if (contact11 == 'found'){
          let i = 0;
          while (contact1[i]){
            let username = contact1[i].username;
            %>
            <div class="contact">
              <img class="dp" src="/index_images/red watercolour background 1412.jpg" alt="big">
              <div class="contact-name"><%= username%></div>
              <form method="POST" action="/messages">
                <input type="text" name="username" value="<%= username%>" style="display: none;">
                <button class="view-chats">view chats</button>
              </form>
            </div>
        <% i++ }}
      }%>
      </div>
  </main>
  <footer>
    <a href="#">matcha dating app</a>
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascripts/notification.js"></script>
  <script src="javascripts/nav.js"></script>
</body>
</html>
