<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/connection_requests.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <meta charset="UTF-8">
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body onload="login()">
  <input type="hidden" value=<%=session.user %> id='me'>
  
  <div id="notification-links">
    <a id="notification-link" href="javascript:void(0)" onclick="displayNotifications()">new notifications</a>
    <a id="message-link" href="javascript:void(0)" onclick="displayMessages()">peep messages</a>
    <a href="/my_notifications">notifications</a>
  </div>
  <div id="notification-bar"></div>
  <div id="message-bar"></div>

  <nav>
    <div id="main_menu">
        <a href="/">home</a>
        <a href="/chats">chats</a>
        <a href="/connection_requests">requests</a>
        <a href="/search_match">search</a>
        <a href="javascript:void(0);" onclick="userSubMenu()">
            <img id="profile_pic" src=<%=session.profile_pic %> alt="menu">
        </a>
    </div>
    <div id="user_sub_menu">
        <a href="javascript:void(0);" onclick="userSubMenu()">
            <img id="profile_pic" src=<%=session.profile_pic %> alt="menu">
        </a>
        <a href="/profile_views">view my profile visits</a>
        <a href="/My_pictures">my pics</a>
        <a href="/settings">settings</a>
        <a href="/logout">logout</a>
    </div>
  </nav>
  <main>
    <h1 id="pagetitle">My connection requests</h2>
      <%
      if (connections == "none"){ %>
        <span id="no_connections">you have no new requests</span>
      <%
      } else {
        let x = 0;
          while (connections[x])
          {
            let connection_username = connections[x].username;
            let connection_room_id = connections[x].room_id;
            let connection_firstname = connections[x].Firstname;
            let connection_lastname = connections[x].Lastname;
            let connection_profile_pic = connections[x].profile_pic;
            let connection_age = connections[x].Age;
            let connection_orientation = connections[x].Orientation;
            let connection_gender = connections[x].Gender;
            let connection_bio = connections[x].Bio
            let connection_hobby1 = connections[x].Hobby1;
            let connection_hobby2 = connections[x].Hobby2;
            let connection_hobby3 = connections[x].Hobby3;
            let connection_hobby4 = connections[x].Hobby4;
            let connection_hobby5 = connections[x].Hobby5;
      %>
              <div class="connection">
                <img src=<%=connection_profile_pic%> alt="profile_pic">
                <span><%=connection_firstname%> <%=connection_lastname%></span>
                <span>age: <%=connection_age%></span>
                <span>gender: <%=connection_gender%></span>
                <span>sexual Preference: <%=connection_orientation%></span>
                <hr>
                <span>biography <br><%=connection_bio%></span>
                <hr>
                <span>hobbies</span>
                <hr>
                <span>
                    <%=connection_hobby1%>, <%=connection_hobby2%>, <%=connection_hobby3%>,
                    <%=connection_hobby4%>, <%=connection_hobby5%>
                </span>
                <% let url = '/match_full_info2?match_username='+ connection_username; %>
                <a href=<%= url %>>view</a>
              </div>
      <%    x++;
          }
      } %>
  </main>
  
  <footer>
    <a href="#">matcha dating web application</a>
  </footer>
  <script src="/socket.io/socket.io.js"></script>
  <script src="javascripts/notification.js"></script>
  <script src="javascripts/nav.js"></script>
  </body>
</html>
