<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>
  <nav>
    <div id="main_menu">
        <a href="/">home</a>
        <a href="/chats">chats</a>
        <a href="/connection_requests">requests</a>
        <a href="/search_match">search</a>
        <a href="javascript:void(0);" onclick="userSubMenu()">
            <img id="profile_pic" src=<%=session.profile_pic %>>
        </a>
    </div>

    <div id="user_sub_menu">
        <a href="javascript:void(0);" onclick="userSubMenu()">
            <img id="profile_pic" src=<%=session.profile_pic %>>
        </a>
        <a href="/My_pictures">my pics</a>
        <a href="/settings">settings</a>
        <a href="/logout">logout</a>
    </div>
  </nav>
  <main>
    <%
    if (session.complete == 0)
    { %>
      <div class="not_complete">
        <span id="not_complete_heading">incomplete profile</span>
        <p>most features will be locked<br>
          go to the settings page to complete your profile.<br>
          and fill in your additional information, and you will set to go.
        </p>
        <a href="/settings"> complete profile </a>
      </div>
      
    <%
    }
    else{ %>
        <div class="complete">
          <h1>welcome <%=session.user %></h1>
          <span>
            <a href="/profile_views">view my profile visits</a>
          </span>
          <div id="my_connections">
              <h2>my connections</h2>
              <div class="connection">
                <% if (connections == 'none') {%>
                      <span id="no_connections">you have no connections</span>
                <% } else {
                      let i = 0;
                      while (connections[i]){
                %>  
                        <img src=<%=session.profile_picture %> alt="connection profile picture">
                        <span class="connection_name"><%=session.user %></span>
                        <form action="/match_full_info" method="get">
                          <input type="hidden" name="matchUserName" value="**************">
                          <button type="submit"></button>
                        </form> 
                <%      i++;
                      }
                  }
                %>
              </div>
          </div>
        </div>
    <% } %>
  </main>
  <footer>
    <a href="#">matcha dataing web application</a>
  </footer>
  <script src="javascripts/nav.js"></script>
</body>
</html>
