<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>match full information</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/match_full_info.css">
</head>
<body onload="profileView()">
    
    <input type="hidden" value=<%=session.user %> id='me'>
    <input type="hidden" value=<%=match_info.match_username %> id='them'>

    <div id="notification-links">
        <a id="notification-link" href="javascript:void(0)" onclick="displayNotifications()">new notifications</a>
        <a id="message-link" href="javascript:void(0)" onclick="displayMessages()">peep messages</a>
        <a href="/my_notifications">notifications</a>
    </div>
    <div id="notification-bar"></div>
    <div id="message-bar"></div>
    
    <nav>
        <div id="main_menu">
            <a href="/">home</a>
            <a href="/chats">chats</a>
            <a href="/connection_requests">requests</a>
            <a href="/search_match">search</a>
            <a href="javascript:void(0);" onclick="userSubMenu()">
                <img id="profile_pic" src=<%=session.profile_pic %> alt="menu">
            </a>
        </div>
        <div id="user_sub_menu">
            <a href="javascript:void(0);" onclick="userSubMenu()">
                <img id="profile_pic" src=<%=session.profile_pic %> alt="menu">
            </a>
            <a href="/profile_views">my profile views</a>
            <a href="/My_pictures">my pics</a>
            <a href="/settings">settings</a>
            <a href="/logout">logout</a>
        </div>
    </nav>
    
    <main>
        <% if (session.complete != 1){ %>
            <div class="not_complete">
                <span id="not_complete_heading">incomplete profile</span>
                <p>most features will be locked<br>
                go to the settings page to complete your profile.<br>
                and fill in your additional information, and you will set to go.
                </p>
                <a href="/settings"> complete profile </a>
            </div>
        <% } else if (session.profile_pic == "Uploads/stock_profile_pic.png"){ %>
            <div class="not_complete">
                <span id="not_complete_heading">incomplete profile</span>
                <p>most features will be locked<br>
                    please upload a picture and set it as a profile picture 
                </p>
                <a href="/My_pictures"> complete profile </a>
            </div>
        <% } else{ %>
            <h1>potential match profile</h1>
            <span id="_match_status"></span>
            <hr>
            <img id="match_profile_pic" src=<%=match_info.match_profilepic%>>
            
            <% if (blocked == 1){ %>
                <span class="user_blocked">this user is blocked</span>
            <% } else if (blocked == -1) { %>
                <span >account has been temporarily disabled</span>
            <% } else {%>
                <form action="/block_user" method="POST">
                    <input type="hidden" name="match_username" value=<%=match_info.match_username%>>
                    <button class="connection_status_btn" type="submit">request to block user</button>
                </form>
            <% } %>
                
            <% if (connected == -1) { %>
                <span class="connect_to_chat"> connection request sent </span>
                
            <% }else if (connected == -2) { %>
                    <span class="connect_to_chat"><a href="/connection_requests">has sent you a request</a> </span>

            <% } else if (connected == 0 && match_info.match_profilepic != 0){ %>
                <form action="/add_connection" method="POST">
                    <input type="hidden" name="match_username" value=<%=match_info.match_username%>>
                    <button onclick="sendConnectionReq()" class="connection_status_btn" type="submit">send connection request</button>
                </form>
            <% }
            
            if (connected == 1 || connected == -1) { %>
                <form action="/delete_connection" method="POST">
                    <input type="hidden" name="match_username" value=<%=match_info.match_username%>>
                    <button onclick="removeConnection()" class="connection_status_btn" type="submit">remove connection</button>
                </form>
            <% } %>
            
            <% if (connected == 1){ %>
                <form action="/messages" method="POST">
                    <input type="hidden" name="username" value=<%=match_info.match_username%>>
                    <button class="connection_status_btn" type="submit">go to chats</button>
                </form>
            
            <% } else { %>
                <span class="connect_to_chat">  You are not connected to <%=session.match_info.match_username%> <br> Connect in order to access the chat system </span>
            <%} %>
            
            <div class="match_info">
                <hr><span><%=match_info.match_firstname%> <%=match_info.match_lastname%></span>
                <hr><span>fame rating: <%=match_info.match_fame_rating%></span>
                <span>age: <%=match_info.match_age%></span>
                <span>Gender: <%=match_info.match_gender%></span>
                <span>Sexual Preference: <%=match_info.match_orientation%></span>
                <hr><span>hobbies</span>
                <hr>
                <span>
                    <%=match_info.match_hobby1%>, <%=match_info.match_hobby2%>, <%=match_info.match_hobby3%>
                    <%=match_info.match_hobby4%>, <%=match_info.match_hobby5%>
                </span>
                <hr>
                <span>distance from me: <%=match_info.match_distance%></span>
                <span>biography: <%=match_info.match_bio %></span>
                <span>last seen: <%=match_info.match_last_seen %></span>
            </div>
        <% } %>
                    
    </main>

    <footer>
        <a href="#">matcha dating web application</a>
    </footer>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/notification.js"></script>
    <script src="javascripts/nav.js"></script>
</body>
</html>
