<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/my_notifications_page.css">
</head>
<body onload='login()'>
    <input type="hidden" value=<%=session.user %> id='me'>

    <!-- <span id="notification-toggle">
      <a href="javacript:void(0)" onclick="displayNotifications()">notifications</a>
    </span> -->

    <div id="notification-links">
        <a id="notification-link1" href="javascript:void(0)" onclick="displayNotifications()">new messages</a>
        <!-- <a id="notification-link2" href="javascript:void(0)" onclick="displayMessages()">peep messages</a> -->
        <!-- <a id="notification-link2" href="/my_notifications">notifications</a> -->
    </div>
    <div id="notification-bar"></div>
    
    <nav>
        <div id="main_menu">
            <a href="/">home</a>
            <a href="/chats">chats</a>
            <a href="/connection_requests">requests</a>
            <a href="/search_match">search</a>
            <a href="javascript:void(0);" onclick="userSubMenu()">
                <img id="profile_pic" src=<%=session.profile_pic %> alt="menu">
            </a>
        </div>
        <div id="user_sub_menu">
            <a href="javascript:void(0);" onclick="userSubMenu()">
                <img id="profile_pic" src=<%=session.profile_pic %> alt="menu">
            </a>
            <a href="/notifications">notifications</a>
            <a href="/profile_views">my profile views</a>
            <a href="/My_pictures">my pics</a>
            <a href="/settings">settings</a>
            <a href="/logout">logout</a>
        </div>
    </nav>
    <main>
        <h1>my notifications</h1>
        <% if (notifications == 'none') { %>
            <span>you have no notifications</span>
        <% } else
        {
            let i = 0;
            while (notifications[i]){
                let { id , sentto, sentby, notification_message, seen } = notifications[i];        
        %>
                <% if (seen == 1){ %>
                <div class="notification_div seen">
                <% } else{ %>
                <div class="notification_div unseen">
                <% } %>
                    <div class="notification_from">
                        <span>form -</span>
                        <span><%= sentby%></span>
                    </div>
                    <div class="notification_msg">
                        <span>event -</span>
                        <span><%= notification_message%></span>
                    </div>
                    <form action="/my_notifications" method="post">
                        <input type="hidden" name="sentby" value=<%= sentby%>>
                        <input type="hidden" name="sentto" value=<%= sentby%>>
                        <input type="hidden" name="id" value=<%= id%>>
                        <button>remove from notification</button>
                    </form>
                </div>
                
        <%      i++;
            }
        } %>
    </main>

    <footer>
        <a href="#">matcha dating web application</a>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/my_notifications_page.js"></script>
    <script src="javascripts/nav.js"></script>
</body>
</html>