<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/My_pictures.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="UTF-8">
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
  </head>
  <body>
    <div class="bg-image"></div>
    <div class="header">
      <a href="#default" class="logo"><img id="profile_pic" src=<%= user.profile_pic%>></a>
      <div class="header-right">
        <a href="/">Home</a>
        <a class="active" href="/My_pictures">My Pictures</a>
        <a href="/chats">Chats</a>
        <a href="/connection_requests">Connection Requests</a>
        <a href="/search_match">Find Your Match</a>
        <a href="/settings">Settings</a>
        <a href="/logout">Log out</a>
      </div>
    </div>
    <div class="main">
      <%
          if (user.complete == 0)
          {
          %>
            <h1 id="not_complete">Your Profile is incomplete, most features will be locked. Got to the settings page to complete your profile. When you reach the settings page,<br>
              1. Complete the form where it says additional information</h1>
              <br>
          <a href="/settings"><button style="height: 30px; width: 300px; font-size: 20px; text-align: center; border-radius: 10px 10px; border: 3px solid gold;">Click Here to go to settings</button></a>
          <%
          }
          else
          {
          %>
            <h1 id="pagetitle">My pictures</h1>
            <div class="result_div">
              <form action="/My_pictures" method="POST" enctype="multipart/form-data">
                  <p>Choose an image(min: 1, max: <%= image_upload_limit %>)</p>
                  <input type="file" name="photos" multiple>
                  <input style="background-color: dodgerblue; border: dodgerblue; color: white; border-radius: 5px;" type="submit" name="submit" value="upload">
              </form>
              <%
                  if (amount == "Too much images")
                  {
                  %>
                      <script>
                          alert("You uploaded more than <%=image_upload_limit%> images");
                      </script>
                  <%
                  }
                  else if (uploaded_images == "yes")
                  {
                  %>
                      <script>
                          alert("Your images were successfully uploaded!");
                      </script>
                  <%
                  }
              %>
              <div>
                <%
                  var x = 0;
                  while (images[x])
                  {
                      let image = images[x].image;
                  %>
                  <form action="/My_pictures/change_profile_pic" method="POST">
                    <img src=<%=image%> width="400px" height="300px">
                    <input type="hidden" name="set_this_pic" value=<%=image%>>
                    <br />
                    <input type="submit" name="submit" value="Set As profile pic">
                    <br />
                    
                  </form>
                  <form action="/remove_image" method="POST">
                    <input type="hidden" name="remove" value=<%=image%>>
                    <input type="submit" name="submit" value="Remove Picture">
                  </form>
                  
                  <%
                    x++;
                  }
                %>
              </div>
            </div>
            <%
            }
        %>
  </body>
</html>
