<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/settings.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/nav.css">
</head>
<body onload="login()">
    <input type="hidden" value=<%=session.user %> id='me'>
    <span id="notification-toggle">
      <a href="javacript:void(0)" onclick="displayNotifications()">notifications</a>
    </span>
    <div id="notification-bar"></div>
    <nav>
        <div id="main_menu">
            <a href="/">home</a>
            <a href="/chats">chats</a>
            <a href="/connection_requests">requests</a>
            <a href="/search_match">search</a>
            <a href="javascript:void(0);" onclick="userSubMenu()">
                <img id="profile_pic" src=<%=session.profile_pic %> alt="sub menu">
            </a>
        </div>

        <div id="user_sub_menu">
            <a href="javascript:void(0);" onclick="userSubMenu()">
                <img id="profile_pic" src=<%=session.profile_pic %> alt="sub menu">
            </a>
            <a href="/My_pictures">proflie views</a>
            <a href="/My_pictures">my pics</a>
            <a href="/settings">settings</a>
            <a href="/logout">logout</a>
        </div>
    </nav>
    <main>
        <% 
                if (error != 'none'){
            %>
                <span id="error"><%=error%></span>
            <% } %>
            <% 
                if (msg != 'none'){
            %>
                <span id="msg"><%=msg%></span>
            <% } %>
        <button class="toggle" id="personal_btn" onclick="togglePersonalForm()">personal details</button>
        <form style="display: none;" class="info_class" id="personal_form" method="POST" action="/settings">
            

            <label for="username">enter Username</label>
            <input type="text" name="username" value=<%=session.user %> required>
        
            <label for="Firstname">enter Firstname</label>
            <input type="text" name="Firstname" value=<%=session.Firstname %> required>

            <label for="Lastname">enter Lastname</label>
            <input ype="text" name="Lastname" value=<%=session.Lastname %> required>

            <label for="Email">enter Email</label>
            <input type="email" name="Email" value=<%=session.Email %> required>

            <button type="submit" id="btnSubmit" tabindex="5">update details</button>
        </form>

        <button class="toggle" id="password_btn" onclick="togglePasswordForm()">change password</button>
        <form style="display: none;" id="password_form" method="POST" action="/settings">

            <span class="inner_h">Change your password</span>
            
            <label for="password">Enter password</label>
            <input type="password"  name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">

            <label for="vPassword">Confirm Password</label>
            <input type="password" name="vPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}">
            
            <button type="submit">Update password</button>
        </form>
        
        <button class="toggle" id="hobbies_btn" onclick="toggleHobbiesForm()">change hobbies</button>
        <form style="display: none;" id="hobbies_form" method="POST" action="/settings">
            <span class="inner_h">Change your password</span>
            
            <label for="hobby1">Choose 1st Hobby</label>
            <input type="text" name="hobby1">

            <label for="hobby2">Choose 2nd Hobby</label>
            <input type="text" name="hobby2">
             
            <label for="hobby3">Choose 3rd Hobby</label>
            <input type="text" name="hobby3">
            
            <label for="hobby4">Choose 4th Hobby</label>
            <input type="text" name="hobby4">
               
            <label for="hobby5">Choose 5th Hobby</label>
            <input type="text" name="hobby5">
            
            <button type="submit">Update interests</button>
        </form>

        <button class="toggle" id="loaction_btn" onclick="toggleLocationForm()">location</button>
        <div style="display: none;" id="location_form">
            <form method="POST" action="/settings">
                <button type="submit">update location</button>
            </form>
        </div>
        
        <button class="toggle" id="additional_btn" onclick="toggleAdditionalForm()">additional info</button>
        <form style="display: none;" id="additional_form" class="additional_bio" method="POST" action="/settings">
            <div class="div_gender">
                <label for="gender">enter your gender</label>
                <input type="text" name="Gender" required>
            </div>
            <span>sexaul preference</span>
            <ul class="orientation_list">
                <li>
                    <label for="male">male</label><br>
                    <input type="radio" name="Orientation" value="male" required>
                </li>
                <li>
                    <label for="female">female</label><br>
                    <input type="radio" name="Orientation" value="female" required>    
                </li>
                <li>
                    <label for="lesbian">lesbian</label><br>
                    <input type="radio" name="Orientation" value="lesbian" required>
                </li>
                <li>
                    <label for="gay">gay</label>
                    <input type="radio" name="Orientation" value="gay" required>
                </li>
                <li>
                    <label for="bisexual">bisexual</label>
                    <input type="radio" name="Orientation" value="bisexual" required>
                </li>
            </ul>
            <label for="Bio">Tell us a little about yourself</label>
            <textarea id="Bio" name="Bio" required></textarea>
            <button type="submit">Add additional info</button>
        </form>

    </main>
    <footer>
        <a href="#">matcha dating app</a>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascripts/notification.js"></script>
    <script src="javascripts/nav.js"></script>
    <script src="javascripts/settings.js"></script>

</body>
</html>